*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Lato', sans-serif;
}
.btn-primary{
    padding: 15px 25px;
    border-radius: 8px;
    background: #E55473;
    border: 0px;
}

/* banner section style */

.header-section{
    display: flex;
    background: rgba(226, 81, 112, 0.05);
    background-repeat: no-repeat;
    justify-content: space-around;
    align-items: center;
    padding: 50px 50px 0px 120px;
   
}
.banner-pic{
    width: 450px;
    margin-bottom: 0px;
    background-position: bottom right, top left;
}
.banner-title{
    color: #272727;
    font-size: 50px;
    font-weight: 800;
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
     font-size: 20px;
    padding: 20px 0px;
}

/* feature section */
.feature-section{
    text-align: center;
    padding-top: 100px;
}
.feature-title{
    color: #272727;
    font-size: 40px;
    font-weight: bold;
}
.feature-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin-top: 15px;
}
.feature-flower{
    /* margin-top: 70px;
    margin-bottom: 70px; */
    margin: 80px;
    display: flex;
    justify-content:space-evenly;
  

    
}

.feature-flower-picture{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    
   
}
.feature-img{
    width: 200px;
    height: 250px;
    padding: 50px 50px 0px 50px;

}
/* .feature-flower-text{
    text-align: center;
} */

/* about section style */

.about-title{
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: bold;
}
.about-section{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    padding: 40px 80px;
}
.about-right-part-title{
    font-size: 30px;
}
.about-right-part-description{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.about-left-part-img{
    width: 400px;
    border: 0;
    border-radius: 5px;
}
.about-btn{
    padding: 15px 30px;
    border-radius: 40px;
    background: #121111;
    border: 0px;
    color: white;
    margin-top: 10px;
}

/* hot deal section */
.banner-span{
    color: #E55473;
}
.hot-deal-section{
    display: flex;
    background: rgba(226, 81, 112, 0.05);
    background-repeat: no-repeat;
    justify-content: space-around;
    align-items: center;
    padding: 50px 50px 30px 120px;
   
}
.hot-deal-pic{
    width: 300px;
    margin-bottom: 20px;
    background-position: bottom left, top left;
    margin-right: 150px
}
.hot-deal-title{
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    margin-left: 100px

}
.hot-deal-description{
    color: rgba(39, 39, 39, 0.60);
     font-size: 15px;
    padding: 20px 0px;
    text-align: center;
    margin-right: 20px;
    margin-left: 50px
}
.hot-deal-btn-primary{
    padding: 15px 25px;
    border-radius: 8px;
    background: #E55473;
    border: 0px;
    text-align: center;
    margin-left: 250px
}

/* instagram section */
.instagram-section{
    text-align: center;
    margin-top: 80px;
}
.instagram-title{
    color: #272727;
    font-size: 40px;
}
.instagram-description{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
margin-top: 15px;
margin-bottom: 80px;
}

/* picture section */

.picture-section-profile{
    width: 250px;
    border: 1px solid white;
    border: 0;
    
}
.picture-section{
    display: flex;
    justify-content: space-around;
    padding: 0px 100px 70px 100px;
    
}


/* Get The Latest Deals style */

.deals-section{
    text-align: center;
    background-image: url("../flowerasset/Rectangle\ 9.png");
    margin: 20px 110px 70px 110px;
    height: 200px;
    text-align: center;
    padding-top: 80px;
    
}
.deals-title{
    color: #272727;
    font-size: 30px;
    margin-left: 130px;
    font-weight: bold;
}
.deals-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    margin-left: 130px;
    margin-top: 7px;
    margin-bottom: 12px;
    
}
.deals-input-section{
    display: flex;
    justify-content: center;
  
}
.input-part{
    font-size: 15px;
    padding: 10px 300px 10px 10px;
    margin-left: 150px;
    border: 0;
    border-radius: 5px;

}
.deals-btn{
    padding: 12px 25px;
    border-radius: 8px;
    background: #E55473;
    border: 0px;
    margin-left: 10px;
}

/* footer section style */

.footer-section{
    text-align: center;
    background: black;
    height: 100px;
    color: white;
    padding: 100px 0px
}
.footer-title{
    font-size: 40px;
    font-weight: 400px;
}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    padding: 15px 0px;
}
.footer-end{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
}